footer {
  margin-top: 100px !important;
  background-color: grey;
  height: 40px;
}

footer p {
  font-style: italic;
  opacity: 0.7;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 40px;
}

footer a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

footer a:hover {
  color: rgb(195, 192, 192);
  transition: 0.3s;
  text-shadow: 0 0 black;
}

.img-hero img {
  display: flex;
  margin: auto;
}
